<h1>My Projects</h1> </br>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <%= form_for Project.new, html: { class: 'form-inline' } do |f| %>

        <div class="form-group">
          <%= f.label :name, 'New project:' %>
          <%= f.text_field :name, placeholder: 'Project Name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag 'project[members]', 'Invite members:' %>
          <%= text_field_tag 'project[members]', '', placeholder: 'name@email.com,   @....', class: 'form-control' %>
        </div>

        <%= f.submit 'Create', class: 'btn btn-success' %>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <% @projects.each do |project| %>
        <li>
          <%= link_to project.name, project %>
        </li>
      <% end %>
    </ul>
  </div>
</div>