<%= render 'pages/home' unless user_signed_in? %>

<div id="post" class= "transitions-enabled">

<% if user_signed_in? %>
  <% @posts.each do |post| %>
  <div class="box panel-body">
          <p><strong><%= post.title %></p></strong>
          <%= post.description %>
          <div class="box panel panel-default">
          <%= link_to image_tag(post.image.url(:medium)), post %><br/>
          <p><strong><%= post.user.email if post.user %></p></strong>
          <% if post.user == current_user %>
          <div class="actions">
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'View', post_path(post) %>
          </div>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
<% end %>
