<%= link_to raw('<span class="glyphicon glyphicon-arrow-left">
      </span> Back'), posts_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel-heading center">
  <%= image_tag @post.image.url(:medium) %>
</div>
</div>
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading center">
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
    <p> <%= @post.description %>
    </p>
    <p><strong><%= @post.user.email if @post.user %></p></strong>
    <% if @post.user == current_user %>
    <div>
    <%= link_to raw('<span class="glyphicon glyphicon-pencil">
      </span> Edit'), edit_post_path(@post) %>
  <% end %>
</div>